#contenedor{
    min-height: 85vh;
    background-image: url(/assets/img/cubosFondo.svg);
}

.card{

    min-width: 90%;
  /*  width: 90%; */
    opacity: 0.95;
}

.card h5{
    font-size: 22px;
}

.titulos{
    font-size: 30px !important;
}

table{
    font-size: 18px;
    min-width: 1000px;
}