<div class="container-fluid" id="header">
  <nav class="row navbar navbar-expand-md bg-ligth">
    <div class="container-fluid">
      <!-- Ocultamos la marca -->
      <a class="navbar-brand d-none" href="#">Actividad 3-B</a>
      <!-- Ucultamos el boton hamburguesa -->
      <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Para que nos despliegue el menú y siempre esté desplegado -->
      <div id="navbarSupportedContent">
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <!-- <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link opciones text-white d-flex align-items-center border-bottom justify-content-center" [routerLink]="['']">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link opciones text-white d-flex align-items-center border-bottom justify-content-center" [routerLink]="['empleados']">EMPLEADOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link opciones text-white d-flex align-items-center border-bottom justify-content-center" [routerLink]="['facturas']">FACTURAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link opciones text-white d-flex align-items-center border-bottom justify-content-center" [routerLink]="['nominas']">NÓMINAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link opciones text-white d-flex align-items-center justify-content-center" [routerLink]="['comments']">COMENTARIOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-inicio></app-inicio> -->
  <!-- <app-empleado></app-empleado> -->
  <!-- <app-factura></app-factura> -->
  <!-- <app-nomina></app-nomina> -->
  <!-- <app-comment></app-comment> -->
  <div class="row" id="footer">
    <p class="text-white d-flex justify-content-center align-aitems-center m-0 p-0">FOOTER</p>
  </div>
</div>
