/*
#header nav {
  background-color: var(--color-fondo-header);
}

#header>.navbar>.container-fluid {
  justify-content: center;
}

.opciones {
  font-size: 5rem;
  height: 17vh;
} */

#contenedor {
  min-height: 85vh;
}

aside {
  background-color: var(--color-fondo-aside);
}

aside>div {
  padding: 1.5rem;
  width: 85%;
  font-size: 4rem;
}

#main {
  background-color: var(--color-fondo-main);
}

.imagenes {
  width: 95%;
}
/*
#footer {
  background-color: var(--color-fondo-footer);
  min-height: 4vh;
  font-size: var(--footer-font-size-xs);
} */

@media screen and (min-width: 768px) {
/*
  #header>.navbar>.container-fluid {
      justify-content: start;
      padding-left: 4%;
  }
  .opciones {
      font-size: 1.2rem;
      height: initial;
      border-bottom: 0 !important;
  } */
  #contenedor{
      height: 89vh;
      overflow: hidden;
  }
  aside>div {
      font-size: 1.5rem;
      overflow: hidden;
      height: 80vh;
  }
  #seccion01{
      height: 55%;
  }
  #seccion02{
      height: 45%;
  }
  .articsec1{
      max-width: 48%;
      max-height: 45vh;
  }
  .articsec2{
      max-width: 32%;
      max-height: 35vh;
  }
  /* #footer {
      font-size: var(--footer-font-size-md);
  } */
}

@media screen and (min-width: 1200px) {

  #contenedor{
      height: 88vh;
  }
  /* #footer {
      font-size: var(--footer-font-size-lg);
  } */
}
@media screen and (min-width: 1440px) {
  #contenedor{
      height: 85vh;
  }
}
