<div class="row" id="contenedor">
  <aside class="d-flex justify-content-center align-items-center col-md-4 mh-100">
      <div class="border rounded my-5">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus illum laborum dolorum
              nulla non perspiciatis? Sunt doloribus laborum fugit, aspernatur incidunt, aliquid tempore
              officiis quam id dolor temporibus? Aperiam, minima. Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Odio molestias aperiam voluptatibus praesentium excepturi, a nobis deleniti
              eum sint aliquam, exercitationem, ex ipsam numquam dignissimos saepe asperiores minus inventore
              voluptates?
          </p>
      </div>
  </aside>
  <div id="main" class="col-md-8">
      <section class="row d-flex justify-content-center align-items-center" id="seccion01">
          <article class="d-flex justify-content-center col-md-6 articsec1">
              <img src="/assets/img/grafico1.png" class="img-fluid rounded mt-5 imagenes mt-md-0" alt="flor">
          </article>
          <article class=" d-flex justify-content-center col-md-6 articsec1">
              <img src="/assets/img/grafico2.png" class="img-fluid rounded mt-5 imagenes mt-md-0" alt="gato">
          </article>
      </section>
      <section class="row d-flex justify-content-center align-items-center" id="seccion02">
          <article class=" d-flex justify-content-center col-md-4 articsec2">
              <img src="/assets/img/grafico3.png" class="img-fluid rounded mt-5 imagenes mt-md-0" alt="gusano">
          </article>
          <article class=" d-flex justify-content-center col-md-4 articsec2">
              <img src="/assets/img/grafico4.png" class="img-fluid rounded mt-5 imagenes mt-md-0" alt="mantis">
          </article>
          <article class=" d-flex justify-content-center col-md-4 articsec2">
              <img src="/assets/img/grafico5.png" class="img-fluid rounded mt-5 imagenes mb-5 mt-md-0 mb-md-0" alt="serpiente">
          </article>
      </section>
  </div>
</div>
